/*Especificidad: 001*/
body{
    display: flex;
    justify-content: center;
}
/*Especificidad: 001*/
form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.2em;
    color: #000000;
    background-color: #cbcbcb;
    padding: 1em;
}
/*Especificidad: 001*/
input{
    color: #000000;
    font-size: 20px;
    background-color: #dedede;
    border: 0;
}
/*Especificidad: 001*/
h1{
    grid-column: span 5;
}

/*Especificidad: 011*/
input[type="text"]{
    font-size: 30px;
    /*color: #000000;*/
    background-color: #cbcbcb;
    grid-column: span 5;
    border: 0;
    text-align: right;
}

/*Especificidad: 021*/
input[type=submit][value="F-E"]{
    grid-column: span 3;
}
/*Especificidad: 0210*/
input[type=submit][value="F-E"],
input[type=submit][value="HYP"],
input[type=submit][value="DEG"],
input[type=submit][value="RAD"],
input[type=submit][value="GRAD"],
input[type=submit][value="MC"],
input[type=submit][value="MR"],
input[type=submit][value="M+"],
input[type=submit][value="M-"],
input[type=submit][value="MS"]{
    /*color: #000000;*/
    background-color: #cbcbcb;
    border: 0;
    font-size: 15px;
}

/*Especificidad: 0211*/
input[type=submit][value="9"],
input[type=submit][value="8"],
input[type=submit][value="7"],
input[type=submit][value="6"],
input[type=submit][value="5"],
input[type=submit][value="4"],
input[type=submit][value="3"],
input[type=submit][value="2"],
input[type=submit][value="1"],
input[type=submit][value="0"],
input[type=submit][value="."]{
    /*color: #000000;*/
    background-color: #ffffff;
    font-size: 30px;
}