/*Especificidad: 001*/
body{
    display: flex;
    justify-content: center;
}
/*Especificidad: 001*/
form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    background-color: #40324d;
    color: #ffffff;
    padding: 1em;
}
h1{
    grid-column: span 5;
}
/*Especificidad: 001*/
input{
    font-size: 20px;
    color: #000000;
    background-color: #72f69f;
}
/*Especificidad: 011*/
input[type="text"]{
    font-size: 30px;
    /*Hereda de input el color*/
    background-color: #ffffff;
    grid-column: span 5;
}

/*Especificidad: 021*/
input[type="submit"][value="+"]{
    grid-row: span 2;
}