/*Javier Novella Tomas UO282944*/

/*Especificidad: 001*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    background-color: #d5f3ff;
}
/*Especificidad: 001*/
h1{
    padding: 1em;
    font-size: 3em;
    color: #ffffff;
    background-color: #0d0577;
}

/*Especificidad: 001*/
table{
    table-layout: auto;
    border-collapse: collapse;
}

/*Especificidad: 003*/
tr, td, th{ 
    border: 0.1em solid #000000;
}

/*Especificidad: 001*/
input{
    font-size: 1em;
    color: #ffffff;
    background-color: #0d0577;
}