/*Javier Novella Tomas UO282944*/

/*Especificidad: 001*/
body {
    display: grid;
    grid-template-areas:
        'h1 h1'
        'main section'
        'footer footer';
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    background-color: #d5f3ff;
}
/*Especificidad: 001*/
h1{
    grid-area: h1;
    padding: 1em;
    font-size: 3em;
    color: #ffffff;
    background-color: #0d0577;
}
/*Especificidad: 001*/
input{
    font-size: 1em;
    color: #ffffff;
    background-color: #0d0577;
}
/*Especificidad: 011*/
input[type="text"]{
    font-size: 1em;
    color: #000000;
    background-color: #ffffff;
}
/*Especificidad: 001*/
section{
    grid-area: section;
    margin-bottom: 0.5em;
}
/*Especificidad: 001*/
main{
    grid-area: main;
    margin-bottom: 0.5em;
}
/*Especificidad: 001*/
footer{
    grid-area: footer;
    padding: 0.2em;
    color: #ffffff;
    background-color: #216807;
    font-size: 1em;
}