/*Especificidad: 001*/
body{
    display: grid;
    grid-template-areas:
        'h1 h1'
        'main section'
        'footer footer';
    background-color: #acfbc0;
    color: #000000;
}
/*Especificidad: 001*/
h1{
    color: #ffffff;
    background-color: #05631d;
    grid-area: h1;
}
/*Especificidad: 001*/
section{
    grid-area: section;
    border: 0.2em solid;
    border-color: #05631d;
    margin: 0.2em;
}
/*Especificidad: 001*/
main{
    grid-area: main;
    margin: 0.2em;
    border: 0.2em solid;
    border-color: #05631d;
}

/*Especificidad: 001*/
footer{
    color: #ffffff;
    background-color: #05631d;
    grid-area: footer;
}