/*Javier Novella Tomas UO282944*/

/*Especificidad: 001*/
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #000000;
  background-color: #fbeec2;

  display: grid;
  grid-template-areas:
    'section'
    'footer';
}
/*Especificidad: 001*/
section{
  grid-area: section;
}
/*Especificidad: 001*/
footer{
  grid-area: footer;
  background-color: #242325;
  color:#ffffff;
  padding: 1em;
}
/*Especificidad: 001*/
h1{
  background-color: #a52a2a;
  color:#ffffff;
  padding: 4em;
  text-transform: uppercase;
}
/*Especificidad: 001*/
h2{
  background-color: #322aa5;
  color:#ffffff;
  padding: 2em;
  text-transform: uppercase;
}
/*Especificidad: 001*/
h3{
  background-color: #07670a;
  color:#ffffff;
  padding: 1em;
  text-transform: uppercase;
}
/*Especificidad: 001*/
h4{
  background-color: #b30b94;
  color:#ffffff;
  padding: 0.5em;
  text-transform: uppercase;
}
/*Especificidad: 001*/
h5{
  background-color: #b30b19;
  color:#ffffff;
  padding: 0.25em;
  text-transform: uppercase;
}
