/*Javier Novella Tomas UO282944*/
/*Especificidad: 001*/
body{
    display: grid;
    grid-template-areas:
        'header header'
        'nav nav'
        'main main'
        'footer footer';
}

main{
    grid-area: main;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

header{
    grid-area: header;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: nav;
    
}
    
footer{
    grid-area: footer;
}
