/*Javier Novella Tomas UO282944*/
@media (min-width: 35em){
    /*Especificidad: 001*/
    body{
    display: grid;
    grid-template-areas:
        'header header'
        'nav section'
        'nav footer';
    }
}


header{
    grid-area: header;
    
}

nav{
    display: flex;
    flex-direction: column;
    grid-area: nav;
}

section{
    grid-area: section;
}
    
footer{
    grid-area: footer;
}
