/*Javier Novella Tomas UO282944*/

/*Especificidad: 001*/
body { 
    background-color: #fff 
}
/*Especificidad: 001*/
header{
    background-color: #00863c;
}
/*Especificidad: 001*/
section{
    background-color: bisque;
}
/*Especificidad: 001*/
footer{
    background-color: aquamarine;
}

/*Especificidad: 001*/
ul{
    display: grid;
}

/*Especificidad: 001*/
nav{
   
    margin: 1mm;
    background-color: antiquewhite;
    border-color: black;
    border-width: 1px;
}